@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container{
  width: 80%;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#footer{
  background-image: url(../../public/bgImage.png);
}
#aboutus-bg{
  background-image: url(../app/../../public/assets/image\ \(1\).png);
}

#choose{
  background-image: url(../app/../../public/assets/image\ \(36\).png);
}

#zetEffect{
  background-image: url(../app/../../public/assets/image\ \(35\).png);
}